In [1]:
iris_file = open("iris.csv", "r")
next(iris_file)
data_list = []
for line in iris_file:
    raw_data_entry = line.replace("\n", "").split(",")
    data_entry = (float(raw_data_entry[0]), float(raw_data_entry[1]), float(raw_data_entry[2]), float(raw_data_entry[3]), raw_data_entry[4].replace('"', ""))
    data_list.append(data_entry)   
iris_file.close()

In [79]:
print(data_list)

[(5.1, 3.5, 1.4, 0.2, 'Setosa'), (4.9, 3.0, 1.4, 0.2, 'Setosa'), (4.7, 3.2, 1.3, 0.2, 'Setosa'), (4.6, 3.1, 1.5, 0.2, 'Setosa'), (5.0, 3.6, 1.4, 0.2, 'Setosa'), (5.4, 3.9, 1.7, 0.4, 'Setosa'), (4.6, 3.4, 1.4, 0.3, 'Setosa'), (5.0, 3.4, 1.5, 0.2, 'Setosa'), (4.4, 2.9, 1.4, 0.2, 'Setosa'), (4.9, 3.1, 1.5, 0.1, 'Setosa'), (5.4, 3.7, 1.5, 0.2, 'Setosa'), (4.8, 3.4, 1.6, 0.2, 'Setosa'), (4.8, 3.0, 1.4, 0.1, 'Setosa'), (4.3, 3.0, 1.1, 0.1, 'Setosa'), (5.8, 4.0, 1.2, 0.2, 'Setosa'), (5.7, 4.4, 1.5, 0.4, 'Setosa'), (5.4, 3.9, 1.3, 0.4, 'Setosa'), (5.1, 3.5, 1.4, 0.3, 'Setosa'), (5.7, 3.8, 1.7, 0.3, 'Setosa'), (5.1, 3.8, 1.5, 0.3, 'Setosa'), (5.4, 3.4, 1.7, 0.2, 'Setosa'), (5.1, 3.7, 1.5, 0.4, 'Setosa'), (4.6, 3.6, 1.0, 0.2, 'Setosa'), (5.1, 3.3, 1.7, 0.5, 'Setosa'), (4.8, 3.4, 1.9, 0.2, 'Setosa'), (5.0, 3.0, 1.6, 0.2, 'Setosa'), (5.0, 3.4, 1.6, 0.4, 'Setosa'), (5.2, 3.5, 1.5, 0.2, 'Setosa'), (5.2, 3.4, 1.4, 0.2, 'Setosa'), (4.7, 3.2, 1.6, 0.2, 'Setosa'), (4.8, 3.1, 1.6, 0.2, 'Setosa'), (5.4, 3.4, 1.5, 0.4, 'Setosa'), (5.2, 4.1, 1.5, 0.1, 'Setosa'), (5.5, 4.2, 1.4, 0.2, 'Setosa'), (4.9, 3.1, 1.5, 0.2, 'Setosa'), (5.0, 3.2, 1.2, 0.2, 'Setosa'), (5.5, 3.5, 1.3, 0.2, 'Setosa'), (4.9, 3.6, 1.4, 0.1, 'Setosa'), (4.4, 3.0, 1.3, 0.2, 'Setosa'), (5.1, 3.4, 1.5, 0.2, 'Setosa'), (5.0, 3.5, 1.3, 0.3, 'Setosa'), (4.5, 2.3, 1.3, 0.3, 'Setosa'), (4.4, 3.2, 1.3, 0.2, 'Setosa'), (5.0, 3.5, 1.6, 0.6, 'Setosa'), (5.1, 3.8, 1.9, 0.4, 'Setosa'), (4.8, 3.0, 1.4, 0.3, 'Setosa'), (5.1, 3.8, 1.6, 0.2, 'Setosa'), (4.6, 3.2, 1.4, 0.2, 'Setosa'), (5.3, 3.7, 1.5, 0.2, 'Setosa'), (5.0, 3.3, 1.4, 0.2, 'Setosa'), (7.0, 3.2, 4.7, 1.4, 'Versicolor'), (6.4, 3.2, 4.5, 1.5, 'Versicolor'), (6.9, 3.1, 4.9, 1.5, 'Versicolor'), (5.5, 2.3, 4.0, 1.3, 'Versicolor'), (6.5, 2.8, 4.6, 1.5, 'Versicolor'), (5.7, 2.8, 4.5, 1.3, 'Versicolor'), (6.3, 3.3, 4.7, 1.6, 'Versicolor'), (4.9, 2.4, 3.3, 1.0, 'Versicolor'), (6.6, 2.9, 4.6, 1.3, 'Versicolor'), (5.2, 2.7, 3.9, 1.4, 'Versicolor'), (5.0, 2.0, 3.5, 1.0, 'Versicolor'), (5.9, 3.0, 4.2, 1.5, 'Versicolor'), (6.0, 2.2, 4.0, 1.0, 'Versicolor'), (6.1, 2.9, 4.7, 1.4, 'Versicolor'), (5.6, 2.9, 3.6, 1.3, 'Versicolor'), (6.7, 3.1, 4.4, 1.4, 'Versicolor'), (5.6, 3.0, 4.5, 1.5, 'Versicolor'), (5.8, 2.7, 4.1, 1.0, 'Versicolor'), (6.2, 2.2, 4.5, 1.5, 'Versicolor'), (5.6, 2.5, 3.9, 1.1, 'Versicolor'), (5.9, 3.2, 4.8, 1.8, 'Versicolor'), (6.1, 2.8, 4.0, 1.3, 'Versicolor'), (6.3, 2.5, 4.9, 1.5, 'Versicolor'), (6.1, 2.8, 4.7, 1.2, 'Versicolor'), (6.4, 2.9, 4.3, 1.3, 'Versicolor'), (6.6, 3.0, 4.4, 1.4, 'Versicolor'), (6.8, 2.8, 4.8, 1.4, 'Versicolor'), (6.7, 3.0, 5.0, 1.7, 'Versicolor'), (6.0, 2.9, 4.5, 1.5, 'Versicolor'), (5.7, 2.6, 3.5, 1.0, 'Versicolor'), (5.5, 2.4, 3.8, 1.1, 'Versicolor'), (5.5, 2.4, 3.7, 1.0, 'Versicolor'), (5.8, 2.7, 3.9, 1.2, 'Versicolor'), (6.0, 2.7, 5.1, 1.6, 'Versicolor'), (5.4, 3.0, 4.5, 1.5, 'Versicolor'), (6.0, 3.4, 4.5, 1.6, 'Versicolor'), (6.7, 3.1, 4.7, 1.5, 'Versicolor'), (6.3, 2.3, 4.4, 1.3, 'Versicolor'), (5.6, 3.0, 4.1, 1.3, 'Versicolor'), (5.5, 2.5, 4.0, 1.3, 'Versicolor'), (5.5, 2.6, 4.4, 1.2, 'Versicolor'), (6.1, 3.0, 4.6, 1.4, 'Versicolor'), (5.8, 2.6, 4.0, 1.2, 'Versicolor'), (5.0, 2.3, 3.3, 1.0, 'Versicolor'), (5.6, 2.7, 4.2, 1.3, 'Versicolor'), (5.7, 3.0, 4.2, 1.2, 'Versicolor'), (5.7, 2.9, 4.2, 1.3, 'Versicolor'), (6.2, 2.9, 4.3, 1.3, 'Versicolor'), (5.1, 2.5, 3.0, 1.1, 'Versicolor'), (5.7, 2.8, 4.1, 1.3, 'Versicolor'), (6.3, 3.3, 6.0, 2.5, 'Virginica'), (5.8, 2.7, 5.1, 1.9, 'Virginica'), (7.1, 3.0, 5.9, 2.1, 'Virginica'), (6.3, 2.9, 5.6, 1.8, 'Virginica'), (6.5, 3.0, 5.8, 2.2, 'Virginica'), (7.6, 3.0, 6.6, 2.1, 'Virginica'), (4.9, 2.5, 4.5, 1.7, 'Virginica'), (7.3, 2.9, 6.3, 1.8, 'Virginica'), (6.7, 2.5, 5.8, 1.8, 'Virginica'), (7.2, 3.6, 6.1, 2.5, 'Virginica'), (6.5, 3.2, 5.1, 2.0, 'Virginica'), (6.4, 2.7, 5.3, 1.9, 'Virginica'), (6.8, 3.0, 5.5, 2.1, 'Virginica'), (5.7, 2.5, 5.0, 2.0, 'Virginica'), (5.8, 2.8, 5.1, 2.4, 'Virginica'), (6.4, 3.2, 5.3, 2.3, 'Virginica'), (6.5, 3.0, 5.5, 1.8, 'Virginica'), (7.7, 3.8, 6.7, 2.2, 'Virginica'), (7.7, 2.6, 6.9, 2.3, 'Virginica'), (6.0, 2.2, 5.0, 1.5, 'Virginica'), (6.9, 3.2, 5.7, 2.3, 'Virginica'), (5.6, 2.8, 4.9, 2.0, 'Virginica'), (7.7, 2.8, 6.7, 2.0, 'Virginica'), (6.3, 2.7, 4.9, 1.8, 'Virginica'), (6.7, 3.3, 5.7, 2.1, 'Virginica'), (7.2, 3.2, 6.0, 1.8, 'Virginica'), (6.2, 2.8, 4.8, 1.8, 'Virginica'), (6.1, 3.0, 4.9, 1.8, 'Virginica'), (6.4, 2.8, 5.6, 2.1, 'Virginica'), (7.2, 3.0, 5.8, 1.6, 'Virginica'), (7.4, 2.8, 6.1, 1.9, 'Virginica'), (7.9, 3.8, 6.4, 2.0, 'Virginica'), (6.4, 2.8, 5.6, 2.2, 'Virginica'), (6.3, 2.8, 5.1, 1.5, 'Virginica'), (6.1, 2.6, 5.6, 1.4, 'Virginica'), (7.7, 3.0, 6.1, 2.3, 'Virginica'), (6.3, 3.4, 5.6, 2.4, 'Virginica'), (6.4, 3.1, 5.5, 1.8, 'Virginica'), (6.0, 3.0, 4.8, 1.8, 'Virginica'), (6.9, 3.1, 5.4, 2.1, 'Virginica'), (6.7, 3.1, 5.6, 2.4, 'Virginica'), (6.9, 3.1, 5.1, 2.3, 'Virginica'), (5.8, 2.7, 5.1, 1.9, 'Virginica'), (6.8, 3.2, 5.9, 2.3, 'Virginica'), (6.7, 3.3, 5.7, 2.5, 'Virginica'), (6.7, 3.0, 5.2, 2.3, 'Virginica'), (6.3, 2.5, 5.0, 1.9, 'Virginica'), (6.5, 3.0, 5.2, 2.0, 'Virginica'), (6.2, 3.4, 5.4, 2.3, 'Virginica'), (5.9, 3.0, 5.1, 1.8, 'Virginica')]

In [3]:
len(data_list)

150

In [4]:
setosa_count = 0
versicolor_count = 0
virginica_count = 0 

for data in data_list:
    if data[4] == "Setosa":
        setosa_count+=1
    elif data[4] == "Versicolor":
        versicolor_count+=1
    elif data[4] == "Virginica":
        virginica_count+=1
print("Setosa: "+ str(setosa_count), "Versicolor: "+ str(versicolor_count), "Virginica: "+ str(virginica_count))

Setosa: 50 Versicolor: 50 Virginica: 50

In [5]:
def average(data_list, i, classname):
    if not 0 <= i <= 3: raise IndexError("index must be between 0 and 3")
    attribute_sum = 0
    classcount = 0
    for data in data_list:
        if classname == data[4]:
            attribute_sum+=data[i]
            classcount+=1
    #if classcount == 0: raise RuntimeError("no element with classname '" + classname + "' found in data_list")
    if classcount == 0: raise RuntimeError("no element with classname '{}' found in data_list".format(classname))
    average = attribute_sum/classcount
    return average

In [6]:
average(data_list, 3, "Setosa")

0.2459999999999999

In [7]:
average(data_list, 3, "Versicolor")

1.3259999999999998

In [8]:
average(data_list, 3, "Virginica")

2.026

In [19]:
import sys
def minimum(data_list, i, classname):
    if not 0 <= i <= 3: raise IndexError("index must be between 0 and 3")
    current_minimum = sys.float_info.max
    classcount = 0
    for data in data_list:
        if classname == data[4]:
            if current_minimum > data[i]:
                current_minimum = data[i]
            classcount+=1
    if classcount == 0: raise RuntimeError("no element with classname '{}' found in data_list".format(classname))            
    return current_minimum

In [20]:
minimum(data_list, 0, "Setosa")

4.3

In [21]:
minimum(data_list, 1, "Setosa")

2.3

In [22]:
minimum(data_list, 2, "Setosa")

1.0

In [23]:
minimum(data_list, 3, "Setosa")

0.1

In [24]:
import sys
def maximum(data_list, i, classname):
    if not 0 <= i <= 3: raise IndexError("index must be between 0 and 3")
    current_maximum = sys.float_info.min
    classcount = 0
    for data in data_list:
        if classname == data[4]:
            if current_maximum < data[i]:
                current_maximum = data[i]
            classcount+=1
    if classcount == 0: raise RuntimeError("no element with classname '{}' found in data_list".format(classname))            
    return current_maximum

In [25]:
maximum(data_list, 0, "Setosa")

5.8

In [29]:
maximum(data_list, 3, "Setosa")

0.6

In [30]:
def variance(data_list, i, classname):
    classcount = 0
    average_i = average(data_list, i, classname)
    sum_of_squares = 0
    for  data in data_list:
        if classname ==data[4]:
            sum_of_squares+=(data[i] - average_i)**2
            classcount+=1
    return sum_of_squares/(classcount-1)

In [31]:
variance(data_list, 3, "Setosa")

0.0111061224489796

In [42]:
def covariance(data_list, i, j, classname):
    classcount = 0
    average_i = average(data_list, i, classname)
    average_j = average(data_list, j, classname)
    sum_of_mult_dist = 0
    for  data in data_list:
        if classname ==data[4]:
            sum_of_mult_dist+=(data[i] - average_i) * (data[j] - average_j)
            classcount+=1
    return sum_of_mult_dist/(classcount-1)

In [43]:
covariance(data_list, 3, 3, "Setosa")

0.0111061224489796

In [59]:
import math
def pearson_coefficient(data_list, i, j, classname):
    cov = covariance(data_list, i, j, classname)
    variance_i = variance(data_list, i, classname)
    variance_j = variance(data_list, j, classname)
    return cov / math.sqrt(variance_i * variance_j)

In [63]:
pearson_coefficient(data_list, 0, 1, "Setosa")

0.7425466856651595

In [77]:
for classname in ["Setosa", "Versicolor", "Virginica"]:
    pearson_list = []
    for i in range(0,4):
        for j in range(i,4):
            if i!=j:
                pearson_list.append((classname, i, j, pearson_coefficient(data_list, i, j, classname)))
    pearson_list.sort(key = lambda x: x[3], reverse = True)
    for data in pearson_list:
        print("{:>10}({},{}): {}".format(data[0], data[1], data[2], data[3]))
    print("")

    Setosa(0,1): 0.7425466856651595
    Setosa(2,3): 0.3316300408041185
    Setosa(0,3): 0.2780983529359694
    Setosa(0,2): 0.26717575886875716
    Setosa(1,3): 0.23275201136287943
    Setosa(1,2): 0.17769996678227068

Versicolor(2,3): 0.7866680885228168
Versicolor(0,2): 0.7540489585920161
Versicolor(1,3): 0.6639987200241116
Versicolor(1,2): 0.560522091692982
Versicolor(0,3): 0.5464610715986299
Versicolor(0,1): 0.5259107172828243

 Virginica(0,2): 0.8642247329355762
 Virginica(1,3): 0.5377280262661887
 Virginica(0,1): 0.45722781639411286
 Virginica(1,2): 0.40104457734278515
 Virginica(2,3): 0.3221082159003182
 Virginica(0,3): 0.2811077091573195

In [ ]:
#TODO: pearson_coefficient without classname for general data